<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body, html, svg, div {
            margin: 0;
            padding: 0;
        }
        .page-break-after {
            page-break-after: always;
        }
        div.block-page {
            width: {{ params.w }}{{ params.unit }};
            height: {{ params.h }}{{ params.unit }};
        }
    </style>
</head>
<body>
{% for i in 0..(params.num - 1) %}
    <div class="block-page {% if loop.index < loop.length %}page-break-after{% endif %}">
        {{ svg | raw }}
    </div>
{% endfor %}
</body>
</html>